

.order-page-body {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: black;
  grid-template-areas:
    "left mid right";

}


.order-page-body .left {
  background-color: antiquewhite;
}

.order-page-body .right {
  background-color: blueviolet;
}